# Ficheiro de segredos e variáveis de ambiente
.env

# Ambiente virtual do Python
venv/
.venv/

# Cache do Python
__pycache__/
app/__pycache__/

# Ficheiros do VS Code (opcional)
.vscode/

# Ficheiros de sistema (macOS)
.DS_Store
